/* CSS DOCUMENT */

body{
    background-color: rgb(242, 238, 223);
}

h1{
    color: rgb(13, 74, 117);
    font-size: 3em;
    font-style: italic;
    margin: 0em 0em 0em 0em;
}

h2{
    color: rgb(120, 120, 120);
    margin: .5em 0em 2em 0em;
    font-family: sans-serif;
    text-transform: uppercase;
}

h3{
    color: rgb(162, 103, 105);
    font-family: sans-serif;
    padding: .25em .25em .25em .25em;
    text-transform: uppercase;
}

h4{
    font-family: sans-serif;
}

p{
    color: rgb(120, 120, 120);
    font-family: serif;
    font-style: italic;
}

.description{
    margin: 1em 1em 1em 1.5em;
}

.price{
    margin: 1em 1em 1em 1.5em;
    font-weight: 400;
}

ul{
    list-style: none;
}